<p class="comments"><span>user</span> <%= comment.user.name %> <span>says</span> <%= comment.message%> <span>created the</span> <%= comment.created_at.to_date %> <span>with description</span> <%= comment.description %></p>
